<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Studio</th>
      <th>Comment</th>
      <th>Stars<%= link_to 'v', games_path(sort: 'desc')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.studio %></td>
        <td><%= game.comment %></td>
        <td><%= game.stars %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
